//
   Created by Anu on 10/26/2016.

extends layout
block content
    h1 Author Info for:
        = post.title
    p  firstName:
      =author.firstName

    p  lastName:
        =author.lastName

    p email:
        =author.email

